profiles {
  conda {
    conda.enabled = true
    conda.channelPriority = 'strict'
  }
}

process {
  withName: RUN_TRGT {
    // Nextflow will create/resolve this env automatically
    conda = 'bioconda::trgt bioconda::samtools'
  }
  withName: INDEX_GENOME {
    conda = 'bioconda::samtools'
  }
}
